<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Sklep</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'products/favicon.ico' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function s(){
          search = document.getElementById("searchText").value;
          location.href = {% url 'products:search' %}+'?value='+search;
      }
    </script>
</head>
<body>
{% load products_extras %}
 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'products:index' %}">Sklep</a>
  {% if category_list %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
             {% for category in category_list %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      {{ category.name}}
                  </a>
                  <div class="dropdown-menu">
                     {% for subcategory in category.subcategory_list %}
                         {% if forloop.first %}
                             <a class="dropdown-item" href="{% url 'products:category' category.shortName %}"><b>Wszystkie</b></a><hr class="bg-secondary">
                         {% endif %}
                        <a class="dropdown-item" href="{% url 'products:subcategory' category.shortName subcategory.shortName %}">{{ subcategory.name}}</a>
                     {% endfor %}
                  </div>
                </li>
             {% endfor %}
          </ul>
          <ul class="nav navbar-nav ml-auto">
            <a class="nav-link" style="float: right; font-weight: bold" href="{% url 'products:cart' %}">Koszyk</a>
          </ul>
      </div>
  {% endif %}
</nav>

<div class="jumbotron text-center">
  <h1>Sklep</h1><br>
    <div class="row form-group">
            <div class="col-md-11">
                <input type="text" class="form-control" id="searchText" size="128" placeholder="Wyszukaj w sklepie...">
            </div>

                <div class="col-md-1">
                <a onclick="s()" href="#" style="margin-left: 10px" class="btn btn-primary">Szukaj</a>
                </div>
            </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
        <h3>Kategorie:</h3><br>
        {% if category_list %}
            <ul style="list-style-type: circle;">
            {% for cat in category_list %}
                <li><a class="text-info" href="{% url 'products:category' cat.shortName %}">{{ cat.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            Brak kategorii
        {% endif %}
    </div>
  <div class="col-sm-8">
      <h3 style="text-align: center">Witaj w sklepie!</h3>
      Django to darmowy i open-source'owy framework do tworzenia aplikacji webowych, napisany w Pythonie. To taki zbiór narzędzi, dzięki którym tworzenie stron internetowych jest szybsze i łatwiejsze.
      <br>Sklep został napisany z użyciem tego narzędzia. Jest to projekt edukacyjny<br><br>
      <table class="table">
          <tbody>
          <tr>
              <th>Produkty</th>
              <td>{% count 'Product' %}</td>
          </tr>
          <tr>
              <th>Podkategorie</th>
              <td>{% count 'Subcategory' %}</td>
          </tr>
          <tr>
              <th>Kategorie</th>
              <td>{% count 'Category' %}</td>
          </tr>
          </tbody>
       </table>
      <br>
      <div>
          <a style="float: right" class="btn btn-info" href="https://github.com/Nasus20202/django-store">Kod zródłowy <p class="fa">&#xf09b;</p></a><br>Autor: Krzysztof Nasuta &copy 2020<br>
          Zdjęcia i opisy pochodzą ze strony x-kom.pl, strona nie ma celu zarobkowego.
      </div>
  </div>
    <div class="col-sm-2">
        <h4 style="text-align: center">Polecamy</h4>
        {% randomProduct as product %}
        <div class="card" style="float: right">
                    <a href="{% url 'products:product' product.shortName %}"><img class="img-fluid card-img-top" src="{% static "/products/img/" %}{{ product.photo }}" alt="{{ product.shortName }}"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'products:product' product.shortName %}"><span class="text-muted">{{ product.brand }}</span> {{ product.name }}</a></h5>
                        <p class="card-text">{{ product.shortAbout|slice:"100" }}...</p>
                        <p style="float: right">{{ product.Price_divided }} zł</p>
                        <p>{{ product.Rating }} &#9733;</p>
                        {% if product.stock > 0 %}
                            <a href="{% url 'products:add_to_cart' product.shortName %}" class="btn btn-primary" id="{{ product.shortName }}-add-to-cart">Dodaj do koszyka</a>
                        {%  else %}
                            <a href="#" class="btn text-white bg-danger  disabled">Niedostępny</a>
                        {% endif %}
                    </div>
                </div>
    </div>
  </div>
</div>

</body>
</html>

