<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Sklep</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function s(){
          search = document.getElementById("searchText").value;
          location.href = {% url 'products:search' %}+'?value='+search;
      }
    </script>
</head>
<body>

 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'products:index' %}">Sklep</a>
  {% if category_list %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
             {% for category in category_list %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      {{ category.name}}
                  </a>
                  <div class="dropdown-menu">
                     {% for subcategory in category.subcategory_list %}
                         {% if forloop.first %}
                             <a class="dropdown-item" href="{% url 'products:category' category.shortName %}"><b>Wszystkie</b></a><hr class="bg-secondary">
                         {% endif %}
                        <a class="dropdown-item" href="{% url 'products:subcategory' category.shortName subcategory.shortName %}">{{ subcategory.name}}</a>
                     {% endfor %}
                  </div>
                </li>
             {% endfor %}
          </ul>
      </div>
  {% endif %}
</nav>

<div class="jumbotron text-center">
  <h1>Sklep</h1><br>
    <div class="row form-group">
            <div class="col-md-11">
                <input type="text" class="form-control" id="searchText" size="128" placeholder="Wyszukaj w sklepie...">
            </div>

                <div class="col-md-1">
                <a onclick="s()" href="#" style="margin-left: 10px" class="btn btn-primary">Szukaj</a>
                </div>
            </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
        Kategorie produktów w sklepie:<br>
        {% if category_list %}
            {% for cat in category_list %}
                <a href="{% url 'products:category' cat.shortName %}">{{ cat.name }}</a><br>
            {% endfor %}
        {% else %}
            Brak kategorii
        {% endif %}
    </div>
  </div>
</div>

</body>
</html>

