<!DOCTYPE html>
<html lang="pl">
<head>
  <title>{{ product.name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'products:index' %}">Sklep</a>
  {% if product.Category.category_list %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
             {% for cat in product.Category.category_list %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      {{ cat.name}}
                  </a>
                  <div class="dropdown-menu">
                     {% for subcat in cat.subcategory_list %}
                         {% if forloop.first %}
                             <a class="dropdown-item" href="{% url 'products:category' cat.shortName %}"><b>Wszystkie</b></a><hr class="bg-secondary">
                         {% endif %}
                        <a class="dropdown-item" href="{% url 'products:subcategory' cat.shortName subcat.shortName %}">{{ subcat.name}}</a>
                     {% endfor %}
                  </div>
                </li>
             {% endfor %}
          </ul>
      </div>
    {% endif %}
</nav>

<div class="jumbotron text-center">
  <h1>{{ product.name }}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
        Cena: {{ product.Price_divided }}<br>
        Dostępne {{ product.stock }} sztuk<br>
    </div>
  </div>
</div>

</body>
</html>