<!DOCTYPE html>
<html lang="pl">
<head>
  <title>{{ product.brand }} {{ product.name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function s(){
          search = document.getElementById("searchText").value;
          location.href = {% url 'products:search' %}+'?value='+search;
      }
    </script>
  {% load static %}
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'products:index' %}">Sklep</a>
  {% if product.Category.category_list %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
             {% for cat in product.Category.category_list %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      {{ cat.name}}
                  </a>
                  <div class="dropdown-menu">
                     {% for subcat in cat.subcategory_list %}
                         {% if forloop.first %}
                             <a class="dropdown-item" href="{% url 'products:category' cat.shortName %}"><b>Wszystkie</b></a><hr class="bg-secondary">
                         {% endif %}
                        <a class="dropdown-item" href="{% url 'products:subcategory' cat.shortName subcat.shortName %}">{{ subcat.name}}</a>
                     {% endfor %}
                  </div>
                </li>
             {% endfor %}
          </ul>
      </div>
    {% endif %}
        <ul class="nav navbar-nav ml-auto">
            <a class="nav-link" style="float: right; font-weight: bold" href="{% url 'products:cart' %}">Koszyk</a>
          </ul>
</nav>

<div class="jumbotron text-center">
        <div class="row form-group">
            <div class="col-md-11">
                <input type="text" class="form-control" id="searchText" size="128" placeholder="Wyszukaj w sklepie...">
            </div>

                <div class="col-md-1">
                <a onclick="s()" href="#" style="margin-left: 10px" class="btn btn-primary">Szukaj</a>
                </div>
            </div><br>
  <h1>{{ product.brand }} {{ product.name }}</h1>
 <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#about">O produkcie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#specs">Specyfikacja</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Opinie</a>
  </li>
</ul>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-5">
        <img class="img-fluid" src="{%  static "products/img" %}/{{ product.photo }}" alt="{{ product.shortName }}">
    </div>
    <div class="col-sm-7">
        <table class="table" style="font-size: 150%" id="main">
            <tbody>
                <tr>
                    <th scope="col" style="font-weight: normal">Cena:</th>
                    <th scope="col" >{{ product.Price_divided }} zł</th>
                </tr>
                <tr>
                    <th scope="col"  style="font-weight: normal">Dostępność:</th>
                    {% if product.stock > 0 %}
                    <th scope="col">{{ product.stock }} szt.</th>
                    {% else %}
                        <th scope="col" class="text-danger">Produkt niedostępny</th>
                    {% endif %}
                </tr>
                <tr>
                    <th scope="col"  style="font-weight: normal">Producent:</th>
                    <th scope="col">{{ product.brand }}</th>
                </tr>
            </tbody>
        </table>
        {% if product.stock > 0 %}
            <a href="{% url 'products:add_to_cart' product.shortName %}" class="btn-block btn btn-primary">Dodaj do koszyka</a>
        {%  else %}
            <a href="#" class="btn-block btn text-white bg-danger  disabled">Niedostępny</a>
        {% endif %}
    </div>
    <div class="row" id="about">
        <div class="col-sm-12">
            {% autoescape off %}
            {{ product.about }}
            {% endautoescape %}
        </div>
    </div>
    <table class="table" id="specs">

    </table>
  </div>
</div>

</body>
</html>