<!DOCTYPE html>
<html lang="pl">
<head>
  <title>{{ subcategory.name }} < {{ category.name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .row {
   display: flex;
   flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}

    </style>
    <script type="text/javascript">
      function s(){
          search = document.getElementById("searchText").value;
          location.href = {% url 'products:search' %}+'?value='+search;
      }
    </script>
  {% load static %}
</head>
<body>
 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'products:index' %}">Sklep</a>
  {% if category.category_list %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
             {% for cat in category.category_list %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      {{ cat.name}}
                  </a>
                  <div class="dropdown-menu">
                     {% for subcat in cat.subcategory_list %}
                         {% if forloop.first %}
                             <a class="dropdown-item" href="{% url 'products:category' cat.shortName %}"><b>Wszystkie</b></a><hr class="bg-secondary">
                         {% endif %}
                        <a class="dropdown-item" href="{% url 'products:subcategory' cat.shortName subcat.shortName %}">{{ subcat.name}}</a>
                     {% endfor %}
                  </div>
                </li>
             {% endfor %}
          </ul>
      </div>
    {% endif %}
</nav>

<div class="jumbotron text-center">
  <h1>{{ subcategory.name }}</h1><br>
    <div class="row form-group">
            <div class="col-md-9">
                <input type="text" class="form-control" id="searchText" size="128" placeholder="Wyszukaj w sklepie...">
                <a onclick="s()" href="#" style="margin-left: 10px" class="btn btn-primary">Szukaj</a>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="sort" onchange="location = this.value">
                    <option value="">Sortuj</option>
                    <option value="?sort=times_bought">Popularność</option>
                    <option value="?sort=-name">Od A od Z</option>
                    <option value="?sort=name">Od Z do A</option>
                    <option value="?sort=price">Cena: rosnąco</option>
                    <option value="?sort=-price">Cena: malejąco</option>
                </select>
        </div>
  </div>
</div>

<div class="container">
        {% if subcategory.product_list %}
            <div class="row">
            {% load products_extras %}
            {% products subcategory sort as products_tag %}
            {% for product in products_tag %}
                <div class="col-md-4">
                <div class="card">
                    <a href="{% url 'products:product' product.shortName %}"><img class="img-fluid card-img-top" src="{% static "/products/img/" %}{{ product.photo }}" alt="{{ product.shortName }}"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'products:product' product.shortName %}"><span class="text-muted">{{ product.brand }}</span> {{ product.name }}</a></h5>
                        <p class="card-text">{{ product.shortAbout|slice:"100" }}...</p>
                        <p style="float: right">{{ product.Price_divided }} zł</p>
                        <a href="#" class="btn btn-primary" id="{{ product.shortName }}-add-to-cart">Dodaj do koszyka</a>
                    </div>
                </div>
                </div>
                {%  cycle '' '' '</div><div class="row">' %}
            {% endfor %}
        {% else %}
            Brak produktów
        {% endif %}
    </div>
  </div>
</div>

</body>
</html>